// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.initial-content {
    padding-top: 5%;
}
.meeting-card {
    padding-top: 1%;
}
.buttonDelete {
    float: right;
}
.logo {
    height: 6em;
    width: 6em;
}
.row {
    display: flex;
}
